*.DS_Store
/web/node_modules/
/web/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/web/test/unit/coverage/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore Gradle project-specific cache directory
.gradle/
/web/.gradle/
/zhuanglang/.gradle/

# Ignore Gradle build output directory
/web/build/
/zhuanglang/build/
/zhuanglang/HELP.md
/zhuanglang/.gradle
!/zhuanglang/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
!/.vscode/tasks.json
!/.vscode/settings.json